.doc-image {
  position: relative;
  z-index: 1;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.doc-image::before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url("../components/doctor/images/docprofilebg.png");
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-size: cover;
  opacity: 65%;
  z-index: -1;
}

.form-headers {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}
